<div class="titulo">
    <div class="contenedor">
    <img src="../../../assets/sinTítulo.png" alt="">

    <div class="buttons">
        <button mat-raised-button color="primary">BODA</button>
        <button mat-raised-button color="primary">XV</button>
        
    </div>
</div>
</div>
<div class="footer">
    <h3>ESCRIBINOS A</h3>

    <button mat-raised-button color="primary">2616001216</button>
    <button mat-raised-button color="primary">en feibu: chupa esta</button>
    <button mat-raised-button color="primary">en el intagram: chupa esta</button>
    <button mat-raised-button color="primary">en koreo: chupa esta</button>

</div>